In [1]:
import requests 
from bs4 import BeautifulSoup
import pandas as pd

In [64]:
url = 'https://es-us.finanzas.yahoo.com/quote/TEF/history?p=TEF&.tsrc=fin-srch'
#url = 'https://es.finance.yahoo.com/quote/TEF/history?p=TEF&.tsrc=fin-srch'
r = requests.get(url,
                headers={"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.13; rv:104.0) Gecko/20100101 Firefox/104.0"})

In [65]:
soup = BeautifulSoup(r.content)

In [66]:
data = []
headers = []
table = soup.find('table', class_ = 'W(100%) M(0)')

table_body = table.find('tbody')
rows = table.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data.append([ele for ele in cols if ele])
    
table_header = table.find('tbody')
row = table.find('tr')
cols = row.find_all('th')
cols = [ele.text.strip() for ele in cols]
headers.append([ele for ele in cols if ele])

In [68]:
TEF = pd.DataFrame(data = data, columns = headers[0])
TEF.dropna(inplace = True)
TEF.info()

           Fecha   Abrir    Alto    Bajo Cierre* Cierre ajustado**    Volumen
1   22 sept 2022  3.6100  3.6200  3.5700  3.5850            3.5850  1,112,563
2   21 sept 2022  3.6200  3.6300  3.5400  3.5700            3.5700  2,056,900
3   20 sept 2022  3.7800  3.7800  3.7300  3.7300            3.7300  1,639,600
4   19 sept 2022  3.8000  3.8500  3.8000  3.8400            3.8400  1,257,200
5   16 sept 2022  3.8000  3.8500  3.7800  3.8300            3.8300  1,364,700
6   15 sept 2022  3.8600  3.8800  3.8100  3.8100            3.8100  1,726,300
7   14 sept 2022  3.8700  3.9000  3.8600  3.8600            3.8600  1,511,800
8   13 sept 2022  3.9300  3.9600  3.8400  3.8400            3.8400  2,072,800
9   12 sept 2022  3.9300  3.9800  3.9300  3.9400            3.9400  1,843,500
10  09 sept 2022  3.9100  3.9200  3.8900  3.9000            3.9000  1,079,300

In [82]:
TEF['Volumen']=TEF['Volumen'].str.replace(",", "")
TEF.iloc[:,1:]= TEF.iloc[:,1:].astype(float)
TEF.info()

In [86]:
TEF.head()

          Fecha  Abrir  Alto  Bajo  Cierre*  Cierre ajustado**    Volumen
1  22 sept 2022   3.61  3.62  3.57    3.585              3.585  1112563.0
2  21 sept 2022   3.62  3.63  3.54    3.570              3.570  2056900.0
3  20 sept 2022   3.78  3.78  3.73    3.730              3.730  1639600.0
4  19 sept 2022   3.80  3.85  3.80    3.840              3.840  1257200.0
5  16 sept 2022   3.80  3.85  3.78    3.830              3.830  1364700.0

In [111]:
print("Máximo apertura:")
abrir_max = TEF['Abrir'].idxmax()
display(TEF.loc[abrir_max, ['Fecha', 'Abrir']])

print("Mínimo apertura:")
abrir_min = TEF['Abrir'].idxmin()
display(TEF.loc[abrir_min, ['Fecha', 'Abrir']])

Máximo apertura:

Fecha    31 may 2022
Abrir           5.34
Name: 81, dtype: object

Mínimo apertura:

Fecha    22 sept 2022
Abrir            3.61
Name: 1, dtype: object

In [112]:
print("Máximo cierre:")
cierre_max = TEF['Cierre*'].idxmax()
display(TEF.loc[cierre_max, ['Fecha', 'Cierre*']])

print("Mínimo cierre:")
cierre_min = TEF['Cierre*'].idxmin()
display(TEF.loc[cierre_min, ['Fecha', 'Cierre*']])

Máximo cierre:

Fecha      31 may 2022
Cierre*           5.32
Name: 81, dtype: object

Mínimo cierre:

Fecha      21 sept 2022
Cierre*            3.57
Name: 2, dtype: object

In [113]:
print("Máximo volumne:")
volumen_max = TEF['Volumen'].idxmax()
display(TEF.loc[volumen_max, ['Fecha', 'Volumen']])

print("Mínimo volumen:")
volumen_min = TEF['Volumen'].idxmin()
display(TEF.loc[volumen_min, ['Fecha', 'Volumen']])

Máximo volumne:

Fecha      03 jun 2022
Volumen      5644000.0
Name: 77, dtype: object

Mínimo volumen:

Fecha      13 jul 2022
Volumen       725700.0
Name: 51, dtype: object